// TODO: add theme variable and import it
$primary: #15103a;
$accent: #5541f0;

.navigation {
    width: 100%;
    background: $primary;
    display: flex;
    justify-content: center;
    display: none;

    button {
        margin: 20px;
        border-radius: 25px;
        font-family: "Raleway", "Helvetica Neue", sans-serif;
        color: rgb(238, 238, 238);
        font-size: 1.5rem;
        font-weight: lighter;
    }
}

@media (min-width: 600px) {
    .navigation {
        display: flex;
    }
}

.active-routing {
    color: $accent !important;
    background-color: rgb(237, 237, 237);
}