@import '../../shared/variables.scss';

.navigation {
    width: 100%;
    background: $primary;
    display: flex;
    justify-content: center;
    display: none;

    button {
        margin: 20px;
        border-radius: 25px;
        font-family: $font-family-raleway;
        color: rgb(238, 238, 238);
        font-size: 1.5rem;
        font-weight: lighter;
    }
}

@media (min-width: 600px) {
    .navigation {
        display: flex;
    }
}