<mat-drawer-container autosize>
  <mat-drawer #drawer [mode]="'over'">
    <h1>Hacker news</h1>
    <mat-divider></mat-divider>
    <button mat-flat-button routerLinkActive="active-routing" [routerLinkActiveOptions]="{exact:true}" (click)="drawer.close()" routerLink="/">Home</button>
    <button mat-flat-button routerLinkActive="active-routing" [routerLinkActiveOptions]="{exact:true}" (click)="drawer.close()" [routerLink]="'/'+routing.root + '/' + routing.top">Top</button>
    <button mat-flat-button routerLinkActive="active-routing" [routerLinkActiveOptions]="{exact:true}" (click)="drawer.close()" [routerLink]="'/'+routing.root + '/' + routing.new">New</button>
    <button mat-flat-button routerLinkActive="active-routing" [routerLinkActiveOptions]="{exact:true}" (click)="drawer.close()" [routerLink]="'/'+routing.root + '/' + routing.best">Best</button>
  </mat-drawer>


  <div class="sidenav-bar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon color="primary">menu</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>

</mat-drawer-container>