@import './shared/variables.scss';

mat-drawer-container {
  mat-drawer {
    button {
      width: 100%;
      border-radius: 0px;
      text-align: right;
      padding-right: 20px;
    }

    h1 {
      margin-top: 20px;
      text-align: center;
      color: $accent;
      font-family: $font-family-raleway;
      font-weight: lighter;
    }
  }
}

@media (min-width: 600px) {
  .sidenav-bar {
    display: none;
  }
}