@import './theme.scss';
@import './app/shared/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: "Raleway", "Helvetica Neue", sans-serif !important; }

.active-routing {
    color: $accent !important;
    background-color: rgb(237, 237, 237);
}