@import '../shared/variables.scss';


.title {
  text-align: center;
  margin: 50px;
  font-weight: lighter;
  font-size: 4em;
  color: $primary;
  line-height: 50px;
}
.stories-wrapper {
  min-height: fit-content;
  margin: 0 10px 50px 10px;

  h1 {
    text-align: center;
    color: $accent;
  }
  .section-wrapper {
    box-shadow: rgb(186, 186, 186) 0px 1px 4px;
    border-radius: 30px;
    padding: 20px 5px;
    margin-top: 20px;
    .stories {
      width: 100%;
      margin: auto;
      height: 500px;
      overflow-y: auto;

      .read-more {
        margin: auto;
        display: flex;
      }

      .story {
        margin: 20px 10px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        cursor: pointer;
        position: relative;

        .count {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
          margin-left: -10px;
          margin-top: -10px;
          width: 30px;
          height: 30px;
          background-color: orange;
          color: white;
          border-radius: 10px;
          text-align: center;
        }
      }

      .spinner-wrapper {
        margin: 50px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 600px) {
  .stories-wrapper {
    display: flex;
    flex-wrap: wrap;
    .section-wrapper {
      width: 600px;
      margin: 20px auto;
      .stories {
        width: 100%;
      }
    }
  }
}