<app-toolbar></app-toolbar>

<h1 class="title">Hacker news</h1>
<div class="stories-wrapper">
    <div class="section-wrapper">
        <h1>Top stories</h1>
        <mat-divider></mat-divider>
        <div class="stories">
            <!-- TODO: change to reusable component -->
            <div class="story" *ngFor="let story of topStories;let i = index" (click)="openLink(story.url)">
                <p>{{ story.title }}</p>
                <sub>{{ story.score }} points by {{ story.by }} on {{ story.time | date:'medium' }}</sub>
            </div>
            <button mat-button
            [routerLink]="'/' +routing.root + '/' + routing.top"
            *ngIf="topStories.length" class="read-more">Read more</button>
            <div class="spinner-wrapper" *ngIf="isLoading.top">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </div>
    </div>

    <div class="section-wrapper">
        <h1>New stories</h1>
        <mat-divider></mat-divider>
        <div class="stories">
            <!-- TODO: change to reusable component -->
            <div class="story" *ngFor="let story of newStories;let i = index" (click)="openLink(story.url)">
                <p>{{ story.title }}</p>
                <sub>{{ story.score }} points by {{ story.by }} on {{ story.time | date:'medium' }}</sub>
            </div>
            <button mat-button
            [routerLink]="'/' +routing.root + '/' + routing.new"
            *ngIf="newStories.length" class="read-more">Read more</button>
            <div class="spinner-wrapper" *ngIf="isLoading.new">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </div>
    </div>

    <div class="section-wrapper">
        <h1>Best stories</h1>
        <mat-divider></mat-divider>
        <div class="stories">
            <!-- TODO: change to reusable component -->
            <div class="story" *ngFor="let story of bestStories;let i = index" (click)="openLink(story.url)">
                <p>{{ story.title }}</p>
                <sub>{{ story.score }} points by {{ story.by }} on {{ story.time | date:'medium' }}</sub>
            </div>
            <button mat-button 
            [routerLink]="'/' +routing.root + '/' + routing.best"
            *ngIf="bestStories.length" class="read-more">Read more</button>
            <div class="spinner-wrapper" *ngIf="isLoading.best">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </div>
    </div>
</div>